<div class="text-center">
    <h1 class="display-8">Registration Successful for @User.Identity.Name @DateTime.Now</h1>
    <br />
    <a class="nav-link display-6" asp-controller="Employees" asp-action="Logout">Logout</a>

</div>