@model LoginVM

<div class="text-center">
    <h1 class="display-4">Welcome @User.Identity.Name</h1>
    <br />
    <a class="nav-link display-6" asp-controller="Employees" asp-action="Logout">Logout</a>

</div>